body {
  margin: 0;
  /*background: #333;*/
  /*color: #fff;*/
/*  background: #fff;
  color: #000;
*/  font-family: Arial;
}

/*section {
  background: #fff;
}
*/
h1 {
  /*color: #fff;*/
  text-align: center;
  padding: 20px;
}

header {
  background: #fff;
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
header div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
/*  width: 200px;
  margin: .5vw;
*/
}
header div img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
}

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  /*margin-bottom: 5px;*/
  margin: 20px 20px 5px 0px;
  width: 32%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  /*margin-right: 5px;*/
}
.effects .img:first-child {
  /*margin-left: -15px;*/
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: height 0.3s;
  padding: 0;
  margin: 0;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;
}

.overlaycontent {
  flex: none;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  background: #000;
}

.caption {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1.5rem;
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  transition: all 0.3s;
}

.img.hover[data-qr] .caption {
  opacity: 0;
}

#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  /*bottom: 50%;*/
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}

.captionA {
  /*font-style: bold;*/
  color: #fae0e0;
}

.captionB {
  font-style: italic;
  color: #d0d0d0;
}
